.container, header #globe, footer p {
  margin: 0 auto; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #FFF;
  color: #FFF;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  position: relative; }

/* TYPOGRAPHY ================================== */
h1, h2 {
  font-weight: bold;
  line-height: 1; }

h1 {
  color: #2B2B2B;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 20px; }

h2 {
  color: #2B2B2B;
  font-size: 20px; }

h3 {
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 32px; }

p {
  color: #FFF;
  font-size: .8em; }

ul {
  list-style: none;
  margin: .5px 0; }

/* BASE STRUCTURE =============================== */
.container {
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  position: relative;
  width: 1000px; }
  @media (max-width: 1450px) {
    .container {
      max-width: 100%; } }

/* HEADER ================================== */
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 20px 9%;
  text-align: center;
  width: 100%;
  /*LOGO*/ }
  @media (max-width: 500px) {
    header {
      width: 100%; } }
  @media (max-width: 800px) {
    header {
      background-position: center;
      margin-bottom: 20px;
      width: 100%; } }
  header #globe {
    background: url(../img/globe.svg) no-repeat 0 0/cover;
    height: 50px;
    margin-bottom: 20px;
    width: 50px; }
  header .animate {
    animation: globeRotate 10s linear infinite; }
  header p {
    color: #000;
    text-align: center; }

section {
  background: #FFF;
  padding: 0 10%;
  margin-bottom: 4%; }
  @media (max-width: 500px) {
    section {
      padding: 0 2%; }
      section > :nth-child(odd) {
        margin-right: 0; } }
  @media (max-width: 800px) {
    section {
      padding-left: 2%;
      padding-right: 2%; }
      section > :nth-child(even) {
        margin-right: 0; } }
  section article {
    display: inline-block;
    height: 160px;
    margin-bottom: 20px;
    margin-right: 3%;
    overflow: hidden;
    width: 30%; }
    section article:hover div {
      transform: translateY(-80px);
      opacity: 1; }
    @media (max-width: 500px) {
      section article {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-right: 0;
        width: 100%; } }
    section article img {
      cursor: pointer;
      margin-bottom: 0;
      width: 100%; }
    section article div {
      background: #2B2B2B;
      display: inline-block;
      opacity: 0;
      transition: 1s;
      width: 100%;
      z-index: 99; }
      section article div img {
        float: left;
        margin-right: 5%;
        width: 10%; }
      section article div p {
        background: #2B2B2B;
        text-transform: capitalize;
        padding: 14px 5%; }

/* FOOTER =============================== */
footer {
  bottom: 0;
  position: absolute;
  z-index: 3;
  margin: 0 auto;
  padding: 5%;
  left: 0;
  right: 0; }
  footer p {
    color: #000;
    font-size: .8em;
    text-align: center;
    width: 60%; }
    @media (max-width: 500px) {
      footer p {
        width: 100%; } }
    footer p span {
      color: #bbb; }

.globeBounce {
  position: relative;
  -webkit-animation: bounce 1000ms ease-in-out infinite;
  -moz-animation: bounce 1000ms ease-in-out infinite;
  -o-animation: bounce 1000ms ease-in-out infinite;
  animation: bounce 1000ms ease-in-out infinite;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(-50%); } }

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(0); }
  50% {
    -moz-transform: translateY(-50%); } }

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    -webkit-transform: translateY(-50%); }
  50% {
    -o-transform: translateY(-30%); }
  100% {
    -o-transform: translateY(0); } }

@keyframes globeRotate {
  100% {
    transform: rotate(1turn); } }
