//VARIABLES
//Colors
$colorWhite: #FFF;
$colorCharcoal: #2B2B2B;
$color000: #000;
$color-bbb: #bbb;


//Fonts
$fontFamily: "PT Sans", sans-serif;
// $fontFamily2: "Program OT Bold", Arial, sans-serif;
$fontSize: 16px;
$fontWeight: normal;
